form{
max-height: 100vh;


}


.Headers {
  font-weight: 700;
  font-size: 15.5949px;
  overflow: hidden;
  align-items: center;
width: 99.5% !important;
border-radius: 0px 20px 0px 20px !important;
  height: 80px;
  margin-left: 3px !important;
  background-color: #E8E8E8;

  padding-left: 70px;
  padding-top: 24px;
  margin-left: 20px !important;
  margin-top: -30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15.5949px;
  line-height: 19px;
  /* identical to box height */
  padding-top: 29px;
  
  color: #000000;
  


}

.form input {
  width: 105%;
  border: none;
  border-radius: 20px;

  padding-bottom: -10px;
  padding-left: 20px;

  padding-top: 7px;
  font-weight: 300;
  font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
padding-right: 50px;
}
.form > input::placeholder{

  font-weight: 300;
}
.form input:focus{

outline: none;

}

.ButtonSection{

display: flex;
justify-content: space-between;
margin-right: 30px;
margin-top: 2rem;

}



.SubmitButton{


  width: 186px;
  height: 51px;
  background: linear-gradient(89.98deg, #19469D 23.67%, #00A3FF 97.94%);
  border-radius: 20px;
  color: white;
border: none;
margin-top: 22px;
}
.form select{


  height: 54.43px;
  border: 0.8px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 20px;
  border-left: none;
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(100, 98, 98);

  }
  .form select:focus{

    outline: none;
    
    }
    .form textarea{

      width: 105%;
      height: 57.43px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      margin-top: 20px;
      border-left: none;
      border-right: none;
      padding-left: 20px;
      padding-right: 20px;

    }
    .form textarea:focus{


      outline: none;
    }
  .RaceButtonDiv{

    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-top: 5rem;
    
    }
    .updateButton{
      margin-top: 1.5rem;
      width: 186px;
  height: 51px;
  background: linear-gradient(89.98deg, #010306 23.67%, #4d5a62 97.94%);
  border-radius: 20px;
  color: white;
border: none;
margin-right: 2.8rem;
    }
    
  
  .AddAnother{


    background: rgba(202, 202, 202, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 250px;
height: 58px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;

color: #8C8C8C;
margin-top: 20px;

margin-left: 17px;
  }
  .AddAnother > svg{


    color: #8C8C8C;
    font-weight: 900;
    margin-left: 15px;
  }
  
  .selectdir{
direction: rtl;
margin-left: 48px;
width: 100%;
  }
  label{
    padding: 10px;
    margin-top: 1.5rem;
    width: 186px;
height: 51px;
background: linear-gradient(89.98deg, #010306 23.67%, #4d5a62 97.94%);
border-radius: 20px;
color: white;
border: none;
margin-right: 2.8rem;
    display: table;
    color: #fff;
    padding-left: 3.4rem;
    font-weight: 600;
     }



input[type="file"] {
    display: none;
}
 .mainrow{
margin-top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 57.43px;
border-radius:20px;

width: 96%;
margin-left: 44px;
} 
.selectmain{
  width: 96%;
  margin-left: 19px;



}
.css-1s2u09g-control:focus {
  outline: none;

}
.spanForm  {
display: flex;
    justify-content: end;
    font-size: 2rem;
    margin-top: -36px;
    font-weight: 100;
    color: lightgray;
}

.css-1s2u09g-control {
  /* background-color:  none !important;
  border-color: none !important;
  border-radius: 4px;
  border-style: solid;
  border-width: none;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0!important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
  border: none !important; */
}
.css-1s2u09g-control:active{
border: none !important;
outline: none !important;
}
.css-1s2u09g-control::before{
  border: none !important;
  outline: none !important;
}
.css-1s2u09g-control:focus{
  border: none !important;
  outline: none !important;
}