.AccordionBody > div{
    padding: 10px;
 
}

.AccordionBody > div > .mylink {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15.5949px;
    padding-left: 24px;
}
.accordion-item:last-of-type .accordion-collapse {
    background-color: #707070;
    
}
.accordion-button:not(.collapsed) {
    background: linear-gradient(89.98deg, #19469D 23.67%, #00A3FF 97.94%);
    border-radius: 0 20px 20px 0;
}
.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
.accordion {
    --bs-accordion-bg: #E8E8E8;
    --bs-accordion-border-color:none;
}
.accordion-body {
    background:   #8D8D8D 97.94%; 
      border-radius: 0px 0px 50px 0px;
      padding: 0;
}
.SettingSec {
    padding-left: 17px;
    letter-spacing: 0px;
    font-family: 'Inter';
    font-style: normal;
    letter-spacing: 0.6px;
    margin-top: 254px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15.5949px;
    line-height: 19px;
    color: #000000;
    padding-left: 38px;
}
 
.accordion-button::after {
   
    display: none;
}
.accordion-button {
 
    padding-left: 37px !important;
}