*{
    margin: 0;
    padding: 0;
}

.div_maintb {
    height: calc(100vh - 180px);
    width: calc(100vw - 100px);
    overflow: scroll;
    border: 1px solid #6f6f6f;
}


body {
    padding: 30px;
}
h1 {
    font-size: 20pt;
    margin: 0 0 20px;
    padding: 0;
    line-height: 100%;
}

.div_maintb {
    height: calc(100vh - 180px);
    width: calc(100vw - 100px);
    overflow: scroll;
    border: 1px solid #6f6f6f;
}

    .div_maintb table {
        border-spacing: 0;
    }

    .div_maintb th {
        position: sticky;
        top: 0;
        background: #464646;
        color: #d1d1d1;
        width: 100px;
        min-width: 100px;
        padding: 6px;
        outline: 1px solid #7a7a7a;
        font-weight: normal;
    }

    .div_maintb td {
        padding: 6px;
        outline: 1px solid #c3c3c3;
    }

        .div_maintb th:nth-child(1),
        .div_maintb td:nth-child(1) {
            position: sticky;
            left: 0;
            width: 130px;
            min-width: 130px;
        }

       

        .div_maintb td:nth-child(1),
        .div_maintb td:nth-child(2) {
            background: #fff2ab;
            z-index: 200;
        }

    .div_maintb th:nth-child(1) {
        z-index: 300;
    }
